@page "/basic-add"

<div class="column-layout basic-add-container">
    <div class="column-layout group">
        <IgbButton DisplayType="ButtonBaseType.Button" class="button" basic_add-scope>
            New Dashboard
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <div class="column-layout group_1">
        <span class="reveal-dash-board">RevealDashBoard not yet available in Blazor</span>
    </div>
</div>

@code {
}
