@page "/"
@page "/basic-load"
@using RevealBlazorServer.Models
@inject IJSRuntime JSRuntime
@inject DashboardService DashboardService

<div class="column-layout basic-load-container">
    <div class="column-layout group">
        <IgbCombo Outlined="true" Data="@dashboards" ValueKey="DashboardFileName"
                  Placeholder="Select Dashboard ..." DisplayKey="DashboardTitle" T="object" SingleSelect="true"
                  Change="@OnComboChanged"
                  class="single-select-combo" master_view-scope>
        </IgbCombo>
    </div>
    <div class="column-layout group_1">
        <div id="revealView" class="reveal-dash-board" style="height: calc(100vh - 0px); width: 100%; position:relative;"></div>
    </div>
</div>

@code {
    private List<DashboardNames> dashboards;
    private DashboardNames _selectedDashboard;

    protected override async Task OnInitializedAsync()
    {
        dashboards = await DashboardService.GetDashboardNamesAsync();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadRevealView", "revealView", "Market Rents");
        }
    }

    private async Task OnComboChanged(IgbComboChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("loadRevealView", "revealView", e.Detail.NewValue);
     
    }


}