@page "/dashboard-thumbnails"
@using AcmeAnalyticsServer
@using Models.AcmeAnalyticsServer
@inject IAcmeAnalyticsServerService AcmeAnalyticsServerService
@inject IJSRuntime JSRuntime

<div class="row-layout dashboard-thumbnails-container">
    <div class="column-layout group">
        <IgbList class="list" dashboard_thumbnails-scope>
            @foreach (var item in _acmeAnalyticsServerDashboardNames)
            {
                <IgbListItem @onclick="@(() => OnDashboardCardClicked(item))">
                    <IgbAvatar slot="start" class="avatar" dashboard_thumbnails-scope>
                        <span class="material-icons">
                            person
                        </span>
                    </IgbAvatar>
                    <div slot="title">@item.DashboardTitle</div>
                    <div slot="subtitle">@item.DashboardFileName</div>
                </IgbListItem>
            }
        </IgbList>
    </div>
    <div class="column-layout group_1">
        <div id="revealView" class="reveal-dash-board" style="height: calc(100vh - 0px); width: 100%; position:relative;"></div>
    </div>
</div>

@code {
    private string _selectedDashboard1;
    private List<DashboardNames> _acmeAnalyticsServerDashboardNames = new();

    protected override async Task OnInitializedAsync()
    {
        _acmeAnalyticsServerDashboardNames = await AcmeAnalyticsServerService.GetDashboardNamesList();
        await base.OnInitializedAsync();
    }

    private async Task OnDashboardCardClicked(DashboardNames dashboard)
    {
        _selectedDashboard1 = dashboard.DashboardFileName;

        if (!string.IsNullOrEmpty(_selectedDashboard1))
        {
            await JSRuntime.InvokeVoidAsync("loadRevealView", "revealView", _selectedDashboard1);
        }
    }
}
