@page "/filter-api"
@using NorthwindCloud
@using Models.NorthwindCloud
@inject INorthwindCloudService NorthwindCloudService

<div class="row-layout filter-api-container">
    <div class="column-layout group">
        <IgbList class="list" filter_api-scope>
            @foreach (var item in _northwindCloudEmployeeStringfAnonymousType9)
            {
                <IgbListItem @onclick="@(() => _selectedEmployee = item.Employee?.EmployeeID)">
                    <IgbAvatar Src="@(item.Employee?.PhotoPath ?? default)" slot="start" class="avatar" filter_api-scope></IgbAvatar>
                    <div slot="title">@item.FullName</div>
                    <div slot="subtitle">@item.Employee?.Title</div>
                </IgbListItem>
            }
        </IgbList>
    </div>
    <div class="column-layout group_1">
        <span class="reveal-dash-board">RevealDashBoard not yet available in Blazor</span>
    </div>
</div>

@code {
    private double _selectedEmployee;
    private List<EmployeeStringfAnonymousType9> _northwindCloudEmployeeStringfAnonymousType9 = new();

    protected override async Task OnInitializedAsync()
    {
        _northwindCloudEmployeeStringfAnonymousType9 = await NorthwindCloudService.GetEmployeeStringfAnonymousType9List();
        await base.OnInitializedAsync();
    }
}
